<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.commitmood.mapper.analysis.CommitAnalysisMapper">

    <resultMap id="CommitAnalysisResultMap" type="com.commitmood.domain.analysis.CommitAnalysis">
        <id property="id" column="id"/>
        <result property="commitId" column="commit_id"/>
        <result property="flaggedCount" column="flagged_count"/>
        <result property="swearCount" column="swear_count"/>
        <result property="exclaimCount" column="exclaim_count"/>
        <result property="emojiCount" column="emoji_count"/>
        <result property="sentiment" column="sentiment"
                typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="sentimentScore" column="sentiment_score"/>
        <result property="analyzedAt" column="analyzed_at"/>
    </resultMap>

    <insert id="insert" parameterType="com.commitmood.domain.analysis.CommitAnalysis"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO commit_analysis (
            commit_id,
            flagged_count,
            swear_count,
            exclaim_count,
            emoji_count,
            sentiment,
            sentiment_score,
            analyzed_at
        ) VALUES (
                     #{commitId},
                     #{flaggedCount},
                     #{swearCount},
                     #{exclaimCount},
                     #{emojiCount},
                     #{sentiment, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
                     #{sentimentScore},
                     #{analyzedAt}
                 )
    </insert>

    <select id="findById" resultMap="CommitAnalysisResultMap">
        SELECT *
        FROM commit_analysis
        WHERE id = #{id}
    </select>

    <select id="findByCommitId" resultMap="CommitAnalysisResultMap">
        SELECT *
        FROM commit_analysis
        WHERE commit_id = #{commitId}
    </select>

    <select id="findByCommitIds" resultMap="CommitAnalysisResultMap">
        SELECT *
        FROM commit_analysis
        WHERE commit_id IN
        <foreach collection="commitIds" item="commitId" open="(" separator="," close=")">
            #{commitId}
        </foreach>
    </select>

    <update id="update" parameterType="com.commitmood.domain.analysis.CommitAnalysis">
        UPDATE commit_analysis
        SET flagged_count = #{flaggedCount},
            swear_count = #{swearCount},
            exclaim_count = #{exclaimCount},
            emoji_count = #{emojiCount},
            sentiment = #{sentiment, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
            sentiment_score = #{sentimentScore},
            analyzed_at = #{analyzedAt}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM commit_analysis
        WHERE id = #{id}
    </delete>

    <delete id="deleteByCommitId">
        DELETE FROM commit_analysis
        WHERE commit_id = #{commitId}
    </delete>

</mapper>