<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.commitmood.repository.user.UserAccountMapper">

    <resultMap id="UserAccountResultMap" type="com.commitmood.domain.user.UserAccount">
        <id property="userId" column="user_id"/>
        <result property="githubId" column="github_id"/>
        <result property="githubLogin" column="github_login"/>
        <result property="githubEmail" column="github_email"/>
        <result property="githubAvatarUrl" column="github_avatar_url"/>
        <result property="githubName" column="github_name"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <insert id="insert" parameterType="com.commitmood.domain.user.UserAccount"
            useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        INSERT INTO user_account (
            github_id,
            github_login,
            github_email,
            github_avatar_url,
            github_name
        ) VALUES (
                     #{githubId},
                     #{githubLogin},
                     #{githubEmail},
                     #{githubAvatarUrl},
                     #{githubName}
                 )
    </insert>

    <select id="findById" resultMap="UserAccountResultMap">
        SELECT *
        FROM user_account
        WHERE user_id = #{userId}
    </select>

    <select id="findByGithubId" resultMap="UserAccountResultMap">
        SELECT *
        FROM user_account
        WHERE github_id = #{githubId}
    </select>

    <select id="findByGithubLogin" resultMap="UserAccountResultMap">
        SELECT *
        FROM user_account
        WHERE github_login = #{githubLogin}
    </select>

    <update id="update" parameterType="com.commitmood.domain.user.UserAccount">
        UPDATE user_account
        SET github_login = #{githubLogin},
            github_email = #{githubEmail},
            github_avatar_url = #{githubAvatarUrl},
            github_name = #{githubName}
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteById">
        DELETE FROM user_account
        WHERE user_id = #{userId}
    </delete>

</mapper>